extends layout
block content
    main.py-5(style="background-image: url(http://alexandcammy.com/wp-content/uploads/2019/04/bettydrew-54.jpg);background-size:cover;background-position:center;background-repeat: no-repeat;margin-top: 20px;height:100%;")
            form(action='/logout', method='POST')
                button(type='submit',style='background-color: #4CAF50; color: white; padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer') Logout
            h1.m5(style="text-align:center;margin-top:2%") User Profiles
            for item in data 
                ul(style="text-align:center;") 
                    a.nav-link(href='/single_user/' + item.id) #{item.name}
