extends layout
block content
    main.py-5(style="background-image: url(https://theweddingplaybook.com/wp-content/uploads/Just-Engaged-Things-To-Do-Before-Wedding-Planning.jpg);background-size:cover;background-position:center;background-repeat: no-repeat;margin-top: 20px;height:100%;")
        div.m5(style="text-align:center;margin-top:8%")
            h1 Error
            p You entered incorrect email or password.
            a(href="/admin") Please try again
