extends layout
block content
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
  body
    header.masthead
      div.container.h-100
        div.row.h-100.align-items-center
          div.col-lg-7
            div.text-center.text-lg-left
              h1.display-4 My Wedding
              hr
              h2 This is our big day
              h2 where there is a will there is a way
          div.col-lg-5
            img.img-fluid(src="https://ruffledblog.com/wp-content/uploads/2021/03/intimate-wedding-major-benefits-03.jpg", alt="")
    section#about
      div.container
        div.row
          div.col-lg-12.text-center
            h2 About Us
            hr
            p    Our aim is to provide you with a comprehensive and user-friendly platform to plan your dream wedding. We understand that planning a wedding can be stressful and overwhelming, which is why we've created a one-stop-shop where you can find everything you need to make your special day unforgettable. Our website offers a range of features to help you plan your wedding from start to finish. From browsing through various wedding vendors to booking your preferred ones, we have it all covered. We also provide you with a range of tools to help you manage your guest list, create a wedding website, and even plan your honeymoon. We believe that your wedding should be a reflection of your unique style and preferences. That's why we offer a range of customizable options to help you personalize your wedding to your taste. Whether you're looking for a traditional or modern wedding, we've got you covered. Our team is dedicated to ensuring that your wedding planning experience is as smooth and stress-free as possible. We are constantly updating our platform with the latest trends and ideas to help you stay ahead of the game. So sit back, relax, and let us help you plan your perfect day!
    section#services.bg-light
      div.container
        div.row
          div.col-lg-12.text-center
            h2 SERVICES
            hr
          div.col-md-6
            div.card
              div.card-body
                h5.card-title Wedding Planning
                hr
                p Welcome to our wedding website! We're so excited to share our special day with you. As you may know, planning a wedding can be quite the undertaking, but we've been working hard to make sure every detail is perfect. First things first, we've selected a beautiful venue for both our ceremony and reception. We fell in love with the natural beauty of [insert venue name] and we know it will be the perfect backdrop for our big day. We've also chosen a fantastic team of vendors to help bring our vision to life. From the florist to the photographer, we've carefully selected each vendor to ensure that everything runs smoothly and looks stunning. We can't wait for you to see our decor! We've been working on creating a romantic and elegant atmosphere that we hope will make you feel just as special as we do. Of course, we couldn't plan our wedding without the help of our amazing friends and family. Thank you all for your love and support as we prepare to say 'I do.' We can't wait to celebrate with you!" Remember to also include important details about the date, time, dress code, and any other relevant information your guests will need to know. Good luck with your planning!
                img(src='https://tse2.mm.bing.net/th?id=OIP.pLdD0FH6PKq77RmSTLR3LQHaDt&pid=Api&P=0', alt='Image Description')
          div.col-md-6
            div.card
              div.card-body
                h5.card-title Wedding Photography
                p "Your wedding day is one of the most special days of your life, and we believe that capturing those moments in beautiful, timeless images is essential. That's why we've carefully selected a professional photographer who is experienced in capturing the magic of weddings. Our photographer is an expert in creating images that are not only beautiful, but also meaningful. They have an eye for detail and will work closely with us to make sure that our vision for our wedding day is captured in every shot. We believe that wedding photography is an investment in our memories. These images will allow us to look back on our special day for years to come, and will help us relive the emotions and moments that made our wedding day so special. On the wedding day itself, our photographer will work discreetly in the background to capture every moment, from the getting-ready process to the reception. They will work closely with us to ensure that we are happy with the shots being captured, and will provide guidance and support to help us feel at ease in front of the camera. After the wedding, we'll receive a collection of beautifully edited images that we can cherish for a lifetime. We plan to create a wedding album, prints for our home, and share the images with our friends and family. We believe that wedding photography is an important investment in our memories, and we're so excited to work with our photographer to create images that will last a lifetime."
                img(src='https://tse2.mm.bing.net/th?id=OIP.DMaqib0tsQhCrGpi-wd8FQHaE7&pid=Api&P=0', alt='Image Description')
    section#contact
      div.container
        div.row
          div.col-lg-12.text-center
            h2 Contact Us
            hr
            div.container.text-center
                a(href="https://www.facebook.com/") Facebook  | 
                a(href="https://www.twitter.com/") Twitter   | 
                a(href="https://www.instagram.com/") Instagram

            